.title{ 
  color: blueviolet;
  background-color: rgb(185, 243, 189);
}
.food-name{
  color: red;
  background-color: rgb(202, 185, 243);
}
.practice{
  background-color: rgb(243, 185, 204);
}
.zoo{
  width: 200px;
  height: 200px;
}
