.header-contents{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  width: 100px;
  height: 90px;
  margin-left: 20px;
}
.header-company{
  width: 90%;
}
.header-nav{
  width: 400px;
  margin-right: 20px;
}
.header-list{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.header-item:not(:first-child){
  margin-left: 10px;
}
.header-link{
  color: black;
  text-decoration: none;
}
.work-list{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 80%;
  
}
.work-item{
  width: 25%;
  margin-left: 10px;
  border:  1px solid rgba(247, 247, 251, 0.742);
  box-shadow: 0px 6px 5px  rgba(0, 0, 0, 0.2) ;
}
.work-link{
  text-decoration: none;
}
.work-image{
  width: 100%;
}
.work-title{
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-family:  "Noto Sans JP", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
  color: black;
}
.work-text{
  margin-left:  20px;
  margin-top: 10px;
  font-family:  "Noto Sans JP", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
  color: black;
}
.news{
  width: 80%;
  height: 100px;
  margin: 10px  auto 0;
  background-color: darkgreen;
  display:flex;
}
.news-title{
  width: 15%;
}
.news-titles{
  margin: 30px 50px;
  line-height: 1px;
  font-weight: bolder;
}
.news-list{
  width: 85%;
}
.news-item {
  margin-left: 20px;
  margin-top: 10px;
  font-family:  "Noto Sans JP", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
  color: black;
  display: flex;
}
.news-day{
  margin-right: 50px;
  width: 15%; 
}
.news-text{
  width: 85%;
}
.news-link{
  color:black;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.works{
  width: 80%;
  height: 400px;
  margin: 10px  auto 0;
  background-color: rgb(193, 193, 16);
  display:flex;
}
.job-title{
  text-align: center;
  font-size: 25px;
  letter-spacing: 0.1em;
}
.job-subtitle{
  text-align: center;
  margin-top: 10px;
}
.job-client{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin:0 auto;
}


